@*Tecnologia da página - Razor*@
@model Medico

<form asp-action="Cadastrar" asp-controller="Medico" method="post"
      enctype="multipart/form-data">
    <fieldset>
        <legend>Cadastrar Médico</legend>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Nome">Nome:</label>
            <input class="form-control" asp-for="Nome" type="text" placeholder="Nome do Médico" />
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="form-group">
            <label asp-for="CRM">CRM:</label>
            <input class="form-control" asp-for="CRM" type="text" placeholder="CRM do Médico" />
            <span class="text-danger" asp-validation-for="CRM"></span>
        </div>

        @*<div class="form-group">
            <label asp-for="Fone">Fone:</label>
            <input class="form-control" asp-for="Fone" type="text" placeholder="Fone do Paciente" />
            <span class="text-danger" asp-validation-for="Fone"></span>
        </div>*@

        
        <input class="btn btn-info" type="submit" value="Cadastrar" />
    </fieldset>
</form>
