@model Usuario

<div id="cadastros" class="row">
    <div class="col-3 conteudo">
        <span>Cadastro Médico</span><br />
        <img src="~/images/medico.jpg" style="width:120px;height:100px" class="img-thumbnail" />
        <br />
        <a class="btn btn-primary" asp-controller="Medico" asp-action="Cadastrar">Cadastrar</a><br />
        <a class="btn btn-primary" asp-controller="Medico" asp-action="Index">Listar</a>
    </div>
    <div class="col-3 conteudo">
        <span>Cadastro Paciente</span><br />
        <img src="~/images/paciente.png" style="width:120px;height:100px" class="img-thumbnail" />
        <br />
        <a class="btn btn-primary" asp-controller="Paciente" asp-action="Cadastrar">Cadastrar</a><br />
        <a class="btn btn-primary" asp-controller="Paciente" asp-action="Index">Listar</a>
    </div>
    <div class="col-3 conteudo">
        <span>Cadastro Plano</span><br />
        <img src="~/images/planosaude.jpeg" style="width:120px;height:100px" class="img-thumbnail" />
        <br />
        <a class="btn btn-primary" asp-controller="PlanoSaude" asp-action="Cadastrar">Cadastrar</a><br />
        <a class="btn btn-primary" asp-controller="PlanoSaude" asp-action="Index">Listar</a>
    </div>
    <div class="col-3 conteudo">
        <span>Cadastro Usuário</span><br />
        <img src="~/images/usuario.png" style="width:120px;height:100px" class="img-thumbnail" />
        <br />
        <a class="btn btn-primary" asp-controller="Usuario" asp-action="Create">Cadastrar</a><br />
        <a class="btn btn-link" asp-controller="Usuario" asp-action="Index">Listar</a>
    </div>
</div>