@*Tecnologia da página - Razor*@

@model PlanoSaude

<form asp-action="Alterar" asp-controller="PlanoSaude" method="post">
    <fieldset>
        <legend>Alterar Plano de Saúde</legend>

        <label asp-for="Id">Id:</label>
        <input asp-for="Id" readonly type="text" placeholder="Id do Plano" /><br />
        <input asp-for="Id" name="HdnId" type="hidden" />

        <label asp-for="Plano">Plano:</label>
        <input asp-for="Plano" type="text" placeholder="Nome do Plano" /><br />

        <label asp-for="Codigo">Código:</label>
        <input asp-for="Codigo" type="text" placeholder="Código do Plano" /><br />

        @*<label asp-for="Fone">Fone:</label>
        <input asp-for="Fone" type="text" placeholder="Fone do Médico" /><br />

        <label asp-for="PlanoSaudeId">Plano de Saúde:</label>
        <select class="form-control" asp-items="@ViewBag.PlanosSaude"
                asp-for="PlanoSaudeId">
            <option> -- SELECIONE -- </option>
        </select>*@

        <input type="submit" value="Salvar" />
    </fieldset>
</form>

