@*Tecnologia da página - Razor*@
@model Paciente

<form asp-action="Cadastrar" asp-controller="Paciente" method="post"
      enctype="multipart/form-data">
    <fieldset>
        <legend>Cadastrar Paciente</legend>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Nome">Nome:</label>
            <input class="form-control" asp-for="Nome" type="text" placeholder="Nome do Paciente" />
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="form-group">
            <label asp-for="Cpf">CPF:</label>
            <input class="form-control" asp-for="Cpf" type="text" placeholder="CPF do Paciente" />
            <span class="text-danger" asp-validation-for="Cpf"></span>
        </div>

        <div class="form-group">
            <label asp-for="Rg">RG:</label>
            <input class="form-control" asp-for="Rg" type="text" placeholder="RG do Paciente" />
            <span class="text-danger" asp-validation-for="Rg"></span>
        </div>

        <div class="form-group">
            <label asp-for="Nascimento">Nascimento:</label>
            <input class="form-control" asp-for="Nascimento" type="text" placeholder="Nascimento do Paciente" />
            <span class="text-danger" asp-validation-for="Nascimento"></span>
        </div>

        <div class="form-group">
            <label asp-for="Telefone">Fone:</label>
            <input class="form-control" asp-for="Telefone" type="text" placeholder="Fone do Paciente" />
            <span class="text-danger" asp-validation-for="Telefone"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input class="form-control" asp-for="Email" type="text" placeholder="Email do Paciente" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>

        <div class="form-group">
            <label asp-for="PlanoSaudeId">Plano de Saúde:</label>
            <select class="form-control" asp-items="@ViewBag.PlanosSaude"
                    asp-for="PlanoSaudeId">
                <option> -- SELECIONE -- </option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Cep">CEP:</label>
            <input class="form-control" asp-for="Cep" type="text" placeholder="CEP do Paciente" />
            <span class="text-danger" asp-validation-for="Cep"></span>
        </div>

        <div class="form-group">
            <label asp-for="Rua">Rua:</label>
            <input class="form-control" asp-for="Rua" type="text" placeholder="Rua do Paciente" />
            <span class="text-danger" asp-validation-for="Rua"></span>
        </div>

        <div class="form-group">
            <label asp-for="Numero">Número:</label>
            <input class="form-control" asp-for="Numero" type="text" placeholder="Número do Paciente" />
            <span class="text-danger" asp-validation-for="Numero"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bairro">Bairro:</label>
            <input class="form-control" asp-for="Bairro" type="text" placeholder="Bairro do Paciente" />
            <span class="text-danger" asp-validation-for="Bairro"></span>
        </div>

        <div class="form-group">
            <label asp-for="Cidade">Cidade:</label>
            <input class="form-control" asp-for="Cidade" type="text" placeholder="Cidade do Paciente" />
            <span class="text-danger" asp-validation-for="Cidade"></span>
        </div>

        <div class="form-group">
            <label asp-for="Estado">Estado:</label>
            <input class="form-control" asp-for="Estado" type="text" placeholder="UF do Paciente" />
            <span class="text-danger" asp-validation-for="Estado"></span>
        </div>

        <input class="btn btn-info" type="submit" value="Cadastrar" />
    </fieldset>
</form>
