@model UsuarioView

<form asp-action="Create">
    <fieldset>
        <legend>Dados de Endereço</legend>
        <div class="form-group">
            <label asp-for="Cep" class="control-label"></label>
            <input id="cep" asp-for="Cep" class="form-control" />
        </div>
        <button type="button" onclick="BuscarCep()" class="btn btn-primary">Buscar Endereço</button>

        <div class="form-group">
            <label asp-for="Rua" class="control-label"></label>
            <input id="rua" asp-for="Rua" readonly class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Bairro" class="control-label"></label>
            <input id="bairro" asp-for="Bairro" readonly class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Cidade" class="control-label"></label>
            <input id="cidade" asp-for="Cidade" readonly class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Uf" class="control-label"></label>
            <input id="uf" asp-for="Uf" readonly class="form-control" />
        </div>


    </fieldset>
    <fieldset>
        <legend>Dados pessoais</legend>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Senha" class="control-label"></label>
            <input asp-for="Senha" class="form-control" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmacaoSenha" class="control-label"></label>
            <input asp-for="ConfirmacaoSenha" class="form-control" />
            <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </fieldset>
</form>

<script>
    var txtCep = document.getElementById("cep");
    var txtRua = document.getElementById("rua");
    var txtBairro = document.getElementById("bairro");
    var txtCidade = document.getElementById("cidade");
    var txtUf = document.getElementById("uf");


    function BuscarCep() {
        var url = `https://viacep.com.br/ws/${txtCep.value}/json/`;

        fetch(url, { method: "GET" })
        .then(response => response.json())
        .then(json => {
            txtRua.value = json.logradouro; 
            txtBairro.value = json.bairro;
            txtCidade.value = json.localidade;
            txtUf.value = json.uf;
        })
        .catch(error => console.log(error));
}</script>

